@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Mulish:ital,wght@1,300&display=swap');
*{
  font-family: 'Mulish', sans-serif;
}
body{
  background-color: #161616;
  color: #ddd;
  padding: 50px;
}
h1{
  color: #eef;
  text-align: center;
}
a{
  color: white;
 
  text-decoration: none;
  
}
p{
  text-align: center;
  font-size: 32px;
}

.group1{
  width:180px;
  padding:20px;
  border-radius:12px;
  background-color: #335;
  margin: 0 auto 20px;
  text-align: center;
  font-size:22px;
}

.buttondiv{
  width:120px;
}