.group{
  background: #335;
  width: 180px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius: 15px;
}
input,select{
  background: none;
  border:0;
  color:#fff;
}
input{
  padding-left: 10px;
}
select{
  padding: 15px;
}
.credit{
    width: 40%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    background: linear-gradient(to top right, #ffa200 0%, #ff0866 100%);
    padding: 20px;
    margin:20px;
}